@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

header {
    background: #2a81e2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

header h1 {
    color: white;
}

.hide {
  display: none;
}

nav a {
    color: white;
    padding: 0.75rem;
    display: block;
}

nav a:hover {
    color: #616061;
}

.menu {
    display: block;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

main {
    background: #d9d9d9;
    padding: 1.5rem 1rem;
}

main h2 {
    text-align: center;
    margin: 0 0 1rem 0;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px 60px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;   
    height: auto;          
    object-fit: cover;  
    display: block;
    border: 6px solid #fff;
    border-radius: 6px;
}

dialog img {
    width: 90%;
    display: block;
    margin: 10vh auto;
    border: 0;
}

dialog::backdrop {
  background: rgba(0,0,0,.75);
}

dialog {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
}

.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

footer {
    background: #2a81e2;
    padding: 1rem;
    text-align: center;
    color: white;
}



@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    dialog img {
        max-width: 75vw;
    }

}

@media screen and (min-width: 1000px) {
    nav a {
        display: inline-block;
    }
    nav,
    nav.hide {
        display: block;
    }
    .menu {
        display: none;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    dialog img {
        max-width: 650px; 
    }
}
