
body {
    background-color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    max-width: 60%;
    border: 1px solid black;
    margin: 0 auto;
    padding-top: 30px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.7rem;
}

h2 {
    font-size: 1rem;       
    font-weight: normal;
    margin-bottom: 0.5rem;
}

p {
    color: #035f9c;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
}

hr {
    height: 0.1px;
    background-color: gray;
    width: 55%;
    margin-top: 0;
    margin-bottom: 40px;
}

img {
    width: 50%;
    display: block;
    margin: 50px auto;
}

#topics {
    line-height: 1.5;
    margin: 0 auto;
    width: 55%;
}

.list {
    list-style-type: decimal;
    padding-left: 1.5rem;
}

.list li {
    font-size: 1rem;       
    margin-bottom: 1rem;
}
